<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" routerLink="/main">Urbańczyk APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/main">Strona główna<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logowanie">Zaloguj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rejestracja">Zarejestruj sie!</a>
          </li>
        </ul>
        
      </div>
      <div style="margin-right: 6rem;">
        <button style="float: center ; margin-right: 2rem;"  mat-raised-button color="primary" [disabled]="butA" routerLink="/adminpage">Panel admina</button>
        <button style="float: center ;"  mat-raised-button color="primary" [disabled]="butU" routerLink="/userpage">Panel user</button>
      </div>
      <button style="float: right ;" (click)="wylaczB()" mat-raised-button color="warn" [disabled]="aktywnyButton" routerLink="/main">Wyloguj!</button>
    </nav>
  </header>
  
      <div>
          <router-outlet></router-outlet>
      </div>

<footer class="footer bg-dark">
      <div class="container">
        <span class="text-muted">© 2019 Copyright: Michał Urbańczyk</span>
      </div>
</footer>

    



  

    

