<div class="starter-template">
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Edycja reklamacji</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Tytuł" formControlName="tytul" #tytul>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Data" formControlName="data" #data>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
              <textarea matInput placeholder="Opis" formControlName="opis" #opis></textarea>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Priorytet" formControlName="priorytet" #priorytet>
                  <mat-option value="wolny">Wolny</mat-option>
                  <mat-option value="normalny">Normalny</mat-option>
                  <mat-option value="szybki">Szybki</mat-option>
              </mat-select>
          </mat-form-field>
  
          <mat-form-field class="field-full-width">
              <input matInput placeholder="ID USER" formControlName="id_user" #id_user>
          </mat-form-field>
  
          <mat-form-field>
            <mat-select placeholder="Status" formControlName="status" #status>
                <mat-option value="otwarte">Otwarty</mat-option>
                <mat-option value="w trakcie">W trakcie</mat-option>
                <mat-option value="zakonczone">Zakończone</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-divider></mat-divider>
          <br><br>
  
          <button mat-raised-button color="accent" routerLink="/adminpage">Cofnij</button>&nbsp;
          <button type="submit" (click)="aktualizacjaReklam(tytul.value, data.value, opis.value, priorytet.value, id_user.value, status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Zapisz</button>
  
      </form>
    </mat-card>
  </div>