<div class="starter-template">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Edycja użytkownika</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Imię" formControlName="imie" #imie>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Nazwisko" formControlName="nazwisko" #nazwisko>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Login" formControlName="login" #login>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Hasło" formControlName="haslo" #haslo>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Uprawnienia" formControlName="uprawienia" #uprawienia>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br><br>

        <button mat-raised-button color="accent" routerLink="/adminpage">Back</button>&nbsp;
        <button type="submit" (click)="aktualizacjaUser(imie.value, nazwisko.value, login.value, haslo.value, uprawienia.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>

    </form>
  </mat-card>
</div>