<div class="starter-template">
  <br>
  <mat-card>
      <section class="mat-typography">
          <h3>Rejestracja nowego użytkownika</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createUser" class="create-form">
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Imie" formControlName="imie" #imie>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Nazwisko" formControlName="nazwisko" #nazwisko>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Login" formControlName="login" #login>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Haslo" formControlName="haslo" #haslo>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br><br>
            <button mat-raised-button color="warn" routerLink="/main">Cofnij</button>&nbsp;
            <button type="submit" (click)="addUser(imie.value, nazwisko.value, login.value, haslo.value)" [disabled]="createUser.pristine || createUser.invalid" mat-raised-button color="primary">Zakończ rejestracje</button>
      </form>
  </mat-card>
</div>

