<div class="starter-template">
  <br>
  <mat-card>
      <section class="mat-typography">
          <h2>Logowanie!</h2>
          <p>Podaj swój login oraz hasło</p>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="logUser" class="create-form">
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Login" formControlName="login" #login>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Hasło" type="password" formControlName="haslo" #haslo>
          </mat-form-field>
          <mat-divider></mat-divider>
          <br><br>
            <button mat-raised-button color="warn" routerLink="/main">Cofnij</button>&nbsp;
            <button type="submit" (click)="loginUser(login.value, haslo.value)" [disabled]="logUser.pristine || logUser.invalid" mat-raised-button color="primary">Zaloguj</button>
      </form>
  </mat-card>
</div>