<div class="starter-template">
</div>

<div>
        <br>
        <mat-card>
          <section class="mat-typography">
            <h3>Tworzenie reklamacji</h3>
          </section>
          <mat-divider></mat-divider>
          <br>
          <form [formGroup]="createForm" class="create-form">
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Tytuł reklamacji" formControlName="tytul" #tytul>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Data D.M.RRRR" formControlName="data" #data>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <textarea matInput placeholder="Opis" formControlName="opis" #opis></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Priorytet" formControlName="priorytet" #priorytet>
                  <mat-option value="wolny">Wolny</mat-option>
                  <mat-option value="normalny">Normalny</mat-option>
                  <mat-option value="szybki">Szybki</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
            <br><br>
            <button mat-raised-button color="accent" routerLink="/userpage">Cofnij</button>&nbsp;
            <button type="submit" (click)="addReklam(tytul.value, data.value, opis.value, priorytet.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Dodaj</button>
          </form>
        </mat-card>
      </div>