<div class="starter-template">
    <h1>Witaj {{currentUser[0].imie}} {{currentUser[0].nazwisko}} <br>w panelu administracyjnym!</h1>
    <p class="lead">Jako administrator mozesz usuwac lub edytowac uzytkownikow</p>
</div>
<div>
    <mat-card>
        <p class="lead">Lista użytkowników w serwisie!</p>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="wszyscyUser">
            <ng-container matColumnDef="imie">
                <th mat-header-cell *matHeaderCellDef>Imię</th>
                <td mat-cell *matCellDef="let element"> {{element.imie}} </td>
            </ng-container>

            <ng-container matColumnDef="nazwisko">
                    <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
                    <td mat-cell *matCellDef="let element"> {{element.nazwisko}} </td>
            </ng-container>

            <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef>Login</th>
                    <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>

            <ng-container matColumnDef="haslo">
                    <th mat-header-cell *matHeaderCellDef>Hasło</th>
                    <td mat-cell *matCellDef="let element"> {{element.haslo}} </td>
            </ng-container>

            <ng-container matColumnDef="uprawienia">
                    <th mat-header-cell *matHeaderCellDef>Uprawnienia</th>
                    <td mat-cell *matCellDef="let element"> {{element.uprawienia}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>id_Baza</th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">Akcje</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="primary" (click)="edytujUser(element._id)">Edytuj</button>
                    <button mat-button color="warn" (click)="usunUser(element._id)">Usuń</button>
                </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>
<br><br>
<div>
        <mat-card>
            <p class="lead">Lista reklamacji w systemie!</p>
            <mat-divider></mat-divider>
            <br>
            <table mat-table [dataSource]="reklamacje">
                <ng-container matColumnDef="tytul">
                    <th mat-header-cell *matHeaderCellDef>Tytuł</th>
                    <td mat-cell *matCellDef="let element"> {{element.tytul}} </td>
                </ng-container>
    
                <ng-container matColumnDef="data">
                        <th mat-header-cell *matHeaderCellDef>Data</th>
                        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
                </ng-container>
    
                <ng-container matColumnDef="priorytet">
                        <th mat-header-cell *matHeaderCellDef>Priorytet</th>
                        <td mat-cell *matCellDef="let element"> {{element.priorytet}} </td>
                </ng-container>
    
                <ng-container matColumnDef="id_user">
                        <th mat-header-cell *matHeaderCellDef>ID USER</th>
                        <td mat-cell *matCellDef="let element"> {{element.id_user}} </td>
                </ng-container>
    
                <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
    
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="mat-column-right">Akcje</th>
                    <td mat-cell *matCellDef="let element" class="mat-column-right">
                        <button mat-button color="primary" (click)="edytujReklam(element._id)">Edytuj</button>
                        <button mat-button color="warn" (click)="usunReklam(element._id)">Usuń</button>
                    </td>
                </ng-container>
                
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </mat-card>
    </div>