    <div class="container">

      <div class="starter-template">
        <h1>Witaj w moim serwisie! :)</h1>
        <p class="lead">By móc z niego skorzystać zaloguj się.<br> Jeśli nie masz konta załóż go już teraz!</p>

        <button mat-raised-button class="btn btn-primary btn-lg log" routerLink="/logowanie" >Zaloguj sie</button>
        <button mat-raised-button class="btn btn-primary btn-lg reg" routerLink="/rejestracja" >Załóż konto</button>
      </div>
    </div><!-- /.container -->
    
    
