<div class="starter-template">
  <h1>Witaj {{uzytkownik[0].imie}} {{uzytkownik[0].nazwisko}} <br>w panelu uzytkownika!</h1>
  <p class="lead">Dodaj reklamacje lub obserwuj jej status</p>
</div>

<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/addreklamacje">Dodaj swoją reklamację</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="reklamacje">
      <ng-container matColumnDef="tytul">
        <th mat-header-cell *matHeaderCellDef>Tytul</th>
        <td mat-cell *matCellDef="let element"> {{element.tytul}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data zgłoszenia</th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <ng-container matColumnDef="priorytet">
        <th mat-header-cell *matHeaderCellDef>Priorytet</th>
        <td mat-cell *matCellDef="let element"> {{element.priorytet}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
      